@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --primary: rgba(23, 190, 187, 1);
  --secondary: rgba(240, 166, 202, 1);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  color: #333;
  padding: 50px;
  background: linear-gradient(120deg, var(--primary), var(--secondary));
}

main {
  width: 370px;
  
}

.chat__banner {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  line-height: 1.5;
  border-radius: 5px 5px 0 0;
  text-align: center;
  font-size: 20px;
}

.chat__container {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 15px;
  min-height: 400px;
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.chat__bubble {
  max-width: 50%;
  margin-block: 1rem;
  font-size: 0.8rem;
  padding: 1rem;
}
.chat__bubble > ul {
  list-style-position: inside;
}
.chat__bubble--bot {
  background: #62b09e;
  align-self: flex-start;
  color: white;
  border-radius: 0 1rem 1rem 1rem;
}
.chat__bubble--user {
  background: #bc92b8;
  color: white;
  align-self: flex-end;
  border-radius: 1rem 1rem 0 1rem;
}

.chat__input {
  width: 100%;
  border-radius: 0 0 5px 5px;
  background: rgba(255, 255, 255, 0.19);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

main .chat__input{
  width: 100%;
  position: relative;
}

.chat__input > input {
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
  padding-right: 70px;
  font-family: 'Poppins', sans-serif;
  transition: 0.3s all ease;
}

main .chat__input input:focus{
  border-color: #af7baa;
}

main .chat__input button {
  position: absolute;
  top: 50%;
  right: 10px;
  margin: 0px 5px 5px 5px;
  transform: translateY(-50%);
  background: transparent;
  border: 1px solid #20887004;
  background: #208870;
  padding: 5px 10px;
  border-radius: 3px;
  color: #fff;
  outline: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s all ease;
}

main .chat__input button:hover {
  background: #a43d8c;
  color: white;
}

main .chat__input input:valid ~ button {
  opacity: 1;
  pointer-events: auto;
}
